:root {
    --default-text-color: black;
    --default-bg-color: white;
}

/* 다크 모드일 때 덮어쓰기 */
@media (prefers-color-scheme: dark) {
    :root {
        --default-text-color: white;
        --default-bg-color: #121212;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text-default);
    background-color: var(--default-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    color: inherit;
    margin: 0;
}