.wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: baseline;
    gap: 3px;
    flex-wrap: wrap;
}

.tab {
    margin: 0;
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: #999;
}

.selected {
    color: red;
    padding: 0.7rem 0.5rem 0.5rem;
    font-size: 18px;
    font-weight: 900;
}

.table {
    text-align: center;
    border-collapse: collapse;
}

.table,
.table th,
.table td {
    border: 1px solid black;

}

.table th {
    padding: 0.8rem;
}